<body class="index">
  <div class="intro">
    <h1>conway's game of life</h1>
    <div class="link1">
      <div class="button">
        <h3>
          <a href="/random">random</a>
        </h3>
      </div>
    </div>
    <div class="link2">
      <div class="button">
        <h3>
          <a href="/beehives">beehives</a>
        </h3>
      </div>
    </div>
    <div class="link3">
      <div class="button">
        <h3>
          <a href="/glider_guns">glider gun</a>
        </h3>
      </div>
    </div>
  </div>
</body>