<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/styles/styles.css">
  <meta http-equiv="Refresh" content="0">
  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>