<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <title>Conway's Game of Life</title>
    <%= simple_partial :_reloader if @reload %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>