a {
  text-decoration: none;
  color: #FE4365;
}

h3 {
  font-size: 150%;
}

.index {
  background-color: ivory;
  color: #FE4365;
  font-family: Georgia;
}

.intro {
  text-align: center;
  width: 600px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
}

.link1, .link2, .link3 {
  width: 200px;
  display: inline-block;
}

.button {
  padding: 10px;
}

.alive {
  background-color: #FE4365;
  border-radius: 90%;
  min-height: 20px;
  min-width: 20px;
}

.dead {
  background-color: white;
  border-radius: 90%;
  min-height: 20px;
  min-width: 20px;
}